html {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.card-header {
    text-align: center; 
    font-family: fantasy;
    font-size: 50px;
    color: sienna;
}

button {
    margin-right: 20px;
}

/* Diplay images in rows instead of displaying it one by one vertically */
.col-lg-9 {
    display: flex;
    flex-wrap: wrap;
}

.legend-div {
    margin-top: 20px;
}

img {
    width: 250px;
    height: 200px; 
    background-size: cover;
    background-position: center center; 
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 20px;
    /* rounded corners for images */
    border-radius: 15px;
}

.col-md-3 {
    margin-top: 30px; 
}

/* make rating at center of image */
p {
    font-size: 16px;
    color: teal;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#labelTitle {
    font-weight: bold;
    color: darkolivegreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

