html {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.card-header {
    text-align: center; 
    font-family: fantasy;
    font-size: 50px;
    color: sienna;
}

button {
    margin-right: 20px;
}

/* Diplay images in rows instead of displaying it one by one vertically */
.col-lg-9 {
    display: flex;
    flex-wrap: wrap;
}

.legend-div {
    margin-top: 20px;
}

img {
    width: 300px;
    height: 250px; 
    background-size: cover;
    background-position: center center; 
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 20px;
    /* rounded corners for images */
    border-radius: 15px;
}
